@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Open+Sans&display=swap');
*{
  font-family: Open Sans, sans-serif;
}
#index{
  background-color: #020202;
  font-family: Open Sans, sans-serif;
}
.topnav {
  overflow: hidden;
  font-family: Open Sans, sans-serif;
  color:white;
  text-align: center;
}

.topnav a {
  position: relative;
  display:inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  letter-spacing: 4px;
  font-size: 32px;
}

.topnav a:hover {

  color: pink;
}
#introname{
  color:#af856b;
  font-size: 64px;

}
h2{
  color: white;
  font-size: 24px;
  font-weight: normal;
}

.smaller-image {

  border-radius: 50%;
  height: 400px;
  width:auto;

}

#about{
  background-color: #af856b;
}
#hobby{
  font-size: 28px;
  font-family: Montserrat, Open Sans;
  font-weight: lighter;
  color:white;
 text-align:center;
}

#aboutme2{
  font-size: 26px;
  font-weight: normal;
  color:black;
 text-align:center;
 text-decoration: underline;
}
#whycs{
  font-size: 26px;
  font-family: Montserrat, Open Sans;
  font-weight: lighter;
  color:white;
 text-align:center;
}
#project-intro{
  color:white;
}
#projects{
  background-color: #af856b;
}
#project-intro2{
  color:white;
  font-size: 24px;
}