@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Open+Sans&display=swap');

#index{
  background-color: rgba(219, 201, 201, 0.67);
  font-family: Open Sans, sans-serif;
  text-align: center;

}


.topnav {
  overflow: visible;
  font-family: Open Sans, sans-serif;
  color:white;
  filter: invert(100%);

}

.topnav a {
  justify-content: center;
  display:inline;
  color: white;
  letter-spacing: 5px;
  font-size: 32px;
}

.topnav a:hover {
  color: pink;
}
#introname{
  color:#af856b;
  font-size: 64px;
  

}
h2{
  color: black;
  font-size: 24px;
  font-weight: normal;
}
h3{
 color: black;

  font-size: 24px;
  font-weight: normal;
}

.smaller-image {

  border-radius: 100%;
  height: 500px;
  width:auto;
  position: relative;

  display: block;
  margin-left: auto;
  margin-right: auto;


}

#about{
  background-color:  rgba(219, 201, 201, 0.67);
  position: relative;
  display: flex;
  flex-direction: column;
justify-content: center;
align-items: center;
  font-size: 28px;
  font-family: Montserrat, Open Sans;
  font-weight: bolder;
  color:black;
 text-align:center;
}

#aboutme2{
  font-size: 26px;
  font-weight: normal;
  color:black;
 text-align:center;
 text-decoration: underline;
}

#project-intro{
  color: black;
}
#projects{
  background-color:  rgba(219, 201, 201, 0.67);
  color: black;
}
#project-intro2{
  color:black;
  font-size: 24px;
}
.container-fluid{
  position: relative;
  min-height: 100vh;
  padding-bottom: 2.5rem;
  

}

.footer{
  position:absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  padding-left: 40%;


}
.icon{
  font-size: 30px;
  width: 80px;
  padding-top: 2%;
  padding-bottom: 5%;
  filter: invert(1);


}

